<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-light">
    <div class="container">
      <span class="navbar-brand" routerLink="/crud">ClassWave</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-white" routerLink="/deshbord">
            deshbord
          </li> 
        </ul>
        <div class="d-flex">
         <button type="button" class="btn btn-primary" (click)="logout()">
          Log out
        </button>
      </div>
      </div>
    </div>
  </nav> 
  <div class="container">
      <h5>Hello.. {{username | titlecase}}</h5>
      <h5>Code : {{username | titlecase}}</h5>
  </div>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>